<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola!!</title>
</head>

<body>
    
        <h1>
            {% if goodbye_message %}
            Hello user, {{ goodbye_message }}
            {% else %}
            Hello user, Goodbye from My Project app!
            {% endif %}
        </h1>

        <ul>
            {% for product in products %}
            <li>{{ product.name }} - ${{ product.unit_price }}</li>
            {% endfor %}
        </ul>
            
</body>

</html>